DATABASE_URL="postgresql://neondb_owner:password@ep-sample-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require"
NEXTAUTH_SECRET="ai-company-case-library-super-secret-key-32-chars-long"
NEXTAUTH_URL="http://localhost:3000"
EMAIL_FROM="noreply@aicasehub.com"
EMAIL_API_KEY="mock_email_api_key_for_case_library"
